<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Add a new Task</h2>
  </div>
  <div class="panel-body">
    <%= form %>
  </div>
</div>
<div>
  <a class="btn btn-info btn-xs" href="/">Back</a>
</div>
