<html>
  <head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="/src/assets/stylesheets/bootstrap-theme.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="/src/assets/stylesheets/bootstrap.min.css" media="all">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% if message = get_flash(:message) %>
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong><%= message  %></strong>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
          <%= logout if logged_in? %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <%= @include %>
        </div>
      </div>
    </div>
    <script src="/src/assets/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/src/assets/javascripts/main.js"></script>
    <script src="/src/assets/javascripts/bootstrap.min.js"></script>
  </body>
</html>
