
<html>
  <head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/bootstrap-theme.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/bootstrap.min.css" media="all">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-8">
          <%= @include %>
        </div>
      </div>
    </div>
    <script src="app/assets/javascripts/jquery-2.1.3.min.js"></script>
    <script src="app/assets/javascripts/main.js"></script>
    <script src="app/assets/javascripts/bootstrap.min.js"></script>
  </body>
</html>
