<div class="panel panel-success">
  <div class="panel-heading">
    <h2 class="panel-title">Add a new Task</h2>
  </div>
  <div class="panel-body">
    <form method="POST" action="/tasks/create">
      <div class="col-xs-6">
        <input class="form-control" type="text" name="description">
      </div>
      <div class="col-xs-6">
        <input class="btn btn-success" type="submit" value="Create">
      </div>
    </form>
  </div>
</div>
